/** @format */

@media (min-width: 1197px) {
  .cart-section-container {
    flex: 0 0 auto !important;
    width: 26% !important;
    border-radius: 8px !important;
    height: 525px;
  }
  .shopping-cart-section {
    flex: 0 0 auto !important;
    width: 72.66666667% !important;
  }

  .container-xxl {
    min-height: 100vh !important;
    height: 100% !important;
    position: relative !important;
  }
}

@media (max-width: 1197px) {
  .cart-section-container {
    flex: 0 0 auto !important;
    width: 100% !important;
    border-radius: 8px !important;
    height: 525px;
  }
  .shopping-cart-section {
    flex: 0 0 auto !important;
    width: 100% !important;
    margin-bottom: 50px !important;
  }
  .container-xxl {
    min-height: 100vh !important;
    height: 100% !important;
    position: relative !important;
  }
  .custom-payment-icon {
    display: none !important;
  }
}
