/** @format */

.order-text {
  font-size: 16px;
  font-weight: 600;
}

.icon-container-bg {
  width: 70px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
.item-name {
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
  color: #000;
}
.item-size {
  font-size: 12px;
  color: gray;
}

.main-item {
  font-size: 12px;
  font-weight: 600;
  margin-left: 4px;
  color: #000;
}

.amount {
  font-size: 15px;
  font-weight: 600;
  color: #000;
}

.seperator {
  font-size: 8px;
  color: gray;
}

.last-number {
  font-size: 15px;
  color: gray;
}

.delivery {
  font-size: 12px;
}

.delivery-price {
  font-size: 13px;
}

.express-text {
  font-size: 12px;
  color: gray;
}
.custom-spacing {
  margin-left: 77px;
}
.total-amount {
  font-size: 22px;
  color: #000;
  font-weight: 700;
}

.total-text {
  font-size: 22px;
  color: #000;
  font-weight: 700;
}

.cart-section-holder {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.clothes01 {
  height: 60%;
  width: 60%;
  object-fit: cover;
  display: block;
}

.clothes02 {
  height: 60%;
  width: 60%;
  object-fit: cover;
  display: block;
}

@media (max-width: 768px) {
  .cart-section-holder {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}
