/** @format */

.custom-date-holder {
  width: 100%;
  min-width: 190px;
  height: 47px !important;
  border-radius: 8px !important;
  border: 0.6px solid #000 !important;
  cursor: pointer !important;
  padding: 10px 20px;
}

.Date-picker {
  display: none;
  border: none;
  outline: none;
  box-shadow: none;
}

.inner-holder {
  display: flex;
  align-items: center;
}

.date-items {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.date-icon {
  width: 24px;
  height: 24px;
}

.checked {
  letter-spacing: 5px;
  font-size: 17px;
  font-weight: 600;
}
