/** @format */

.last-item {
  color: #000;
  font-size: 15px;
}

.list-item {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
}

.list-item:hover {
  text-decoration: none;
  color: #000;
}

.last-item:hover {
  text-decoration: none;
  color: #000;
}

.header-title {
  font-weight: 700;
}

@media (max-width: 768px) {
  .list-item {
    text-decoration: none;
    color: #000;
    font-size: 14px;
  }

  .last-item {
    color: #000;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .list-item {
    text-decoration: none;
    color: #000;
    font-size: 12px;
  }

  .last-item {
    color: #000;
    font-size: 12px;
  }
}
