/** @format */

.custom-border {
  border: 1px solid #000;
  border-radius: 8px;
}
.check-icon {
  width: 16px;
  height: 16px;
}

.debitCard-icon {
  width: 30px;
  height: 30px;
  margin: 9px;
}

.wallet-icon {
  width: 26px;
  height: 26px;
  margin: 9px;
}

.Name,
.Number {
  font-weight: 600;
  font-size: 16px;
}

.payment-b {
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50px;
  overflow: hidden;
  color: #fff;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-method-container {
  border-radius: 6px;
}

.icon-container {
  width: 45px;
  height: 45px;
  border-radius: 8px;
  border: 1px solid #000;
}

.debitcard-text {
  font-size: 17.5px;
  font-weight: 600;
}

.custom-label {
  font-size: 13px !important;
}

.myInput:focus,
.custom-input:focus {
  color: #212529 !important;
  background-color: #fff !important;
  border: 0.6px solid #000 !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.card-text {
  font-size: 13px;
}

.hasError {
  color: #ff0054;
  font-size: 9px;
  padding-left: 2px;
  padding-top: 4px;
}

.payment-method {
  font-weight: 600;
}

.form-section {
  margin-left: 3rem !important;
}

.myInput {
  border-radius: 8px !important;
  border: 0.6px solid #000 !important;
  height: 47px !important;
  width: 100% !important;
}

.custom-col {
  margin-left: 3rem !important;
}

.custom-change-button {
  color: #000;
  margin-left: auto;
  border: 1px solid transparent;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 4px;
  font-size: 14px;
  height: 44px;
}

.pay-custom-button {
  color: #fff;
  border: 1px solid transparent;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 4px;
  font-size: 14px;
  height: 47px;
  background-color: #000;
  white-space: nowrap;
  width: 80%;
  margin-top: 6px;
}

@media (min-width: 1197px) {
  .custom-input {
    max-width: 100% !important;
    min-width: 100% !important;
    height: 55px !important;
    border-radius: 8px !important;
    border: 0.6px solid #000 !important;
  }
  .card-number-section {
    flex: 0 0 auto !important;
    width: 65% !important;
  }
}

@media (max-width: 1197px) {
  .custom-input {
    max-width: 100% !important;
    min-width: 100% !important;
    height: 55px !important;
    border-radius: 8px !important;
    border: 0.6px solid #000 !important;
  }
  .form-section {
    margin-left: 0px !important;
    margin-top: 20px !important;
  }
  .card-number-section {
    flex: 0 0 auto !important;
    width: 79% !important;
  }
  .c-number-section {
    flex: 0 0 auto !important;
    width: 30% !important;
  }
}

@media (max-width: 768px) {
  .card-number-section {
    flex: 0 0 auto !important;
    width: 100% !important;
  }
  .c-number-section {
    flex: 0 0 auto !important;
    width: 100% !important;
  }
  .custom-pay-button {
    margin-top: 22px !important;
  }
  .credit-section {
    flex-direction: column !important;
  }
  .container-response {
    flex-direction: column !important;
  }
  .custom-payment-top {
    display: none !important;
  }
  .custom-col {
    margin-left: 0px !important;
  }
  .custom-change-button {
    color: "#000";
    margin-left: auto;
    margin-right: auto;
    border: 1px solid transparent;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 4px;
    font-size: 14px;
    height: 44px;
    margin-top: 25px;
    width: 100%;
    justify-content: center;
  }
  .banking-section {
    display: none !important;
  }

  .pay-custom-button {
    color: #fff;
    border: 1px solid transparent;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 4px;
    font-size: 14px;
    height: 47px;
    background-color: #000;
    white-space: nowrap;
    width: 100%;
    margin-top: 6px;
  }
}
